 <div class="container d-flex align-items justify-content-center">
  <div class="col-4">
    <br>

     <h2 class= "text-center">Log in</h2>

    <div class="d-flex justify-content-center">
     <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),  data: {turbo: false}) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-login' %>
        <%= render "devise/shared/links" %>
    </div>
    <% end %>
    </div>
  </div>
</div>
