<div class="banner" style="background-image:radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwvglguvp/image/upload/v1669400376/development/392077_garri-potter_fan-art_diagon_1950x1287_www.Gde-Fon.com_ls79vp.jpg)">
  <div class="container">
    <h1>Biboca Diagonal
    <p class="ml3">Get out of line, come to Diagon Alley.</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </div>
</div>

<div id="particles-js">
<div class="carousel" >
  <% @products.each_with_index do |product, index| %>
    <input type="radio" name="position" <%= "checked" if index.zero? %> >
  <% end %>
  <div id="carousel">
   <% @products.each do |product| %>
    <div class="item">
      <%= link_to product_path(product) do %>
      <div class="card-trip mt-3">
        <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, width: 300, height: 200, crop: :fill %>
        <% else %>
        <%= "Produto sem imagem" %>
        <% end %>
        <div class="card-trip-infos" style="background-color: white">
          <h2 class="card-trip-pricing"> <%= product.name %></h2>
          <h2 class="card-trip-pricing"><%= number_to_currency(product.price, unit: "$", separator: ",", delimiter: "") %></h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>

 <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
