<div class="banner" style="background-image: url(https://res.cloudinary.com/dwvglguvp/image/upload/v1669218133/development/Harry-Potter-Desktop-Wallpaper_c4lgf8.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="container">
    <h1>Biboca Diagonal
    <p>The extraordinary world of Harry Potter.</p>
  </div>
</div>

<div class="carousel">
  <% @products.each_with_index do |product, index| %>
    <input type="radio" name="position" <%= "checked" if index.zero? %>  />
  <% end %>
  <main id="carousel">
   <% @products.each do |product| %>

             <div class="item">
            <div class="card-trip mt-3">
              <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, width: 300, height: 200, crop: :fill %>
              <% else %>
              <%= "Produto sem imagem" %>
              <% end %>
              <div class="card-trip-infos" style="background-color: white">
                <div>
                  <%= link_to product.name, product_path(product), class: "text-decoration-none text-dark" %>
                </div>
                <h2 class="card-trip-pricing">R$ <%= product.price %>,00</h2>
              </div>
            </div>
          </div>

    <% end %>
    <main>
</div>
