<div class="mx-auto d-flex justify-content-center mt-3" style="width: 600px;">
  <div class="col-sm-12 col-md-8">
    <div class="card-trip mt-3">
      <%= cl_image_tag @product.photo.key, width: 400, height: 300, crop: :fill %>
      <div class="opacity-75">
        <h1 class="mb-4 text-center"><%=@product.name%></h1>
        <div class="product-name">
          <h5 class="mb-3"><strong>Description:</strong> <%=@product.description %></h5>
          <h5>R$ <%=@product.price %>0</h5>
        </div>
          <div class="product-button text-center">
            <%=link_to "Buy", product_orders_path(@product), data: {turbo_method: :post}, class:"btn btn-dark mt-2 mb-2" %>
            <br>
            <%= link_to "Edit", edit_product_path(@product), class: "btn btn-outline-dark mt-2 mb-2" %>
            <%= link_to "Delete",
                product_path(@product),
                data: {turbo_method: :delete, turbo_confirm:"Tem certeza?"}, class: "btn btn-outline-dark mt-2 mb-2"
            %>
          </div>
      </div>
    </div>
  </div>
</div>
