<div class="mx-auto d-flex justify-content-center mt-3" style="width: 600px;">
  <div class="col-sm-12 col-md-8">
    <div class="card-trip mt-3">
      <%= cl_image_tag @product.photo.key, width: 400, height: 300, crop: :fill %>
      <div class="opacity-75">
        <h1 class="mb-4 text-center">Informações do Produto</h1>
        <div class="product-name">
          <h2 class="name-tag"><%=@product.name%></h2>
          <p class="mb-3"><strong>Descrição:</strong> <%=@product.description %></p>
          <p><strong>Preço:</strong>R$ <%=@product.price %>0</p>
        </div>
          <div class="product-button">
            <%=link_to "Comprar", product_orders_path(@product), data: {turbo_method: :post}, class:"btn btn-outline-dark mt-2 mb-2" %>
            <%=link_to "Voltar", products_path, class:"btn btn-outline-dark mt-2 mb-2" %>
            <%= link_to "Excluir produto",
                product_path(@product),
                data: {turbo_method: :delete, turbo_confirm:"Tem certeza?"}, class: "btn btn-outline-dark mt-2 mb-2"

            %>
          </div>
      </div>
    </div>
  </div>
</div>
